.category-land-panel {
  border: 1px solid #cecece;
  padding: unset !important;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */
  border-radius: 3px;
}
.border-style {
  margin: 1px;
  cursor: pointer;
  width: inherit;
  text-align: center;
  display: flex;
  padding: 7px;
  background: white;
}
.border-style > img {
  padding: 10px;
}
.border-style > p {
  margin-bottom: unset;
  align-self: center;
}
